sudo: required

language: python

services:
  - docker

env:
  matrix:
    - CONAN_COMPILER_NAME=clang CONAN_COMPILER_VERSION=3.9
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=4.6
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=4.8
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=4.9
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=5.2
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=5.3
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=5.4
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=6.2
    - CONAN_COMPILER_NAME=gcc CONAN_COMPILER_VERSION=6.3

script:
  - python rebuild_and_upload.py --upload=False
  - python test.py
