os: linux
dist: xenial
language: python
python: "3.7"
services:
  - docker
env:
  matrix:
    - GCC_VERSIONS="7" DOCKER_ARCHS="x86_64" DOCKER_DISTRO="centos6"
    - GCC_VERSIONS="7" DOCKER_ARCHS="x86" DOCKER_DISTRO="centos6"

    - GCC_VERSIONS="5" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="5"

    - GCC_VERSIONS="6" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="6"

    - GCC_VERSIONS="7" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="7"

    - GCC_VERSIONS="8" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="8"

    - CLANG_VERSIONS="3.8"
    - CLANG_VERSIONS="3.9" DOCKER_ARCHS="x86"
    - CLANG_VERSIONS="3.9"
    - CLANG_VERSIONS="4.0" DOCKER_ARCHS="x86"
    - CLANG_VERSIONS="4.0"
    - CLANG_VERSIONS="5.0" DOCKER_ARCHS="x86"
    - CLANG_VERSIONS="5.0"
    - CLANG_VERSIONS="6.0" DOCKER_ARCHS="x86"
    - CLANG_VERSIONS="6.0"
    - CLANG_VERSIONS="7" DOCKER_ARCHS="x86"
    - CLANG_VERSIONS="7"

    - GCC_VERSIONS="4.6"

    - GCC_VERSIONS="4.8" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="4.8"

    - GCC_VERSIONS="4.9" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="4.9"

    - GCC_VERSIONS="5.2"
    - GCC_VERSIONS="5.3"
    - GCC_VERSIONS="5.4"
    - GCC_VERSIONS="6.3"
    - GCC_VERSIONS="6.4"
    - GCC_VERSIONS="7.2"

    - GCC_VERSIONS="4.9" DOCKER_ARCHS="armv7"
    - GCC_VERSIONS="4.9" DOCKER_ARCHS="armv7hf"

    - GCC_VERSIONS="5" DOCKER_ARCHS="x86_64,armv7"
    - GCC_VERSIONS="5" DOCKER_ARCHS="x86_64,armv7hf"

    - GCC_VERSIONS="6" DOCKER_ARCHS="x86_64,armv7"
    - GCC_VERSIONS="6" DOCKER_ARCHS="x86_64,armv7hf"

    - GCC_VERSIONS="7" DOCKER_ARCHS="x86_64,armv7"
    - GCC_VERSIONS="7" DOCKER_ARCHS="x86_64,armv7hf"

    - GCC_VERSIONS="8" DOCKER_ARCHS="x86_64,armv7"
    - GCC_VERSIONS="8" DOCKER_ARCHS="x86_64,armv7hf"

    - BUILD_CONAN_SERVER_IMAGE=1

install:
  - pip install conan humanfriendly

script:
  - python build.py
