sudo: required

language: python

services:
  - docker

env:
  global:
    - DOCKER_UPLOAD="TRUE"

  matrix:
    - GCC_VERSIONS="5" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="5"
    - GCC_VERSIONS="6" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="6"
    - GCC_VERSIONS="7" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="7"

    - CLANG_VERSIONS="3.8"
    - CLANG_VERSIONS="3.9"
    - CLANG_VERSIONS="4.0"
    - CLANG_VERSIONS="5.0"

    - GCC_VERSIONS="4.6"
    - GCC_VERSIONS="4.8"
    - GCC_VERSIONS="4.9" DOCKER_ARCHS="x86"
    - GCC_VERSIONS="4.9"
    - GCC_VERSIONS="5.2"
    - GCC_VERSIONS="5.3"
    - GCC_VERSIONS="5.4"
    - GCC_VERSIONS="6.3"
    - GCC_VERSIONS="6.4"
    - GCC_VERSIONS="7.2"

script:
  - python build.py
