jobs:
- job: Docker
  pool:
    vmImage: 'ubuntu-16.04'
  timeoutInMinutes: 120
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.6'
      architecture: 'x64'
  - script: |
      pip install docker-compose humanfriendly conan conan-package-tools
      python build.py
    env:
      DOCKER_PASSWORD: $(DOCKER_PASSWORD)
  strategy:
    matrix:
      Conan Tests:
        BUILD_CONAN_TESTS: 1
        BUILD_CONAN_TEST_AZURE: 1

      Conan Tests Agent:
        BUILD_CONAN_TEST_AGENT: 1

      Ubuntu MinGW GCC 7 x86_64:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "mingw"

      Ubuntu GCC 4.6:
        GCC_VERSIONS: "4.6"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 4.8:
        GCC_VERSIONS: "4.8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 4.8 x86:
        GCC_VERSIONS: "4.8"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 4.9:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 4.9 x86:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 5:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf,armv8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 5 x86:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 5.2 x86_64:
        GCC_VERSIONS: "5.2"
      Ubuntu GCC 5.3 x86_64:
        GCC_VERSIONS: "5.3"
      Ubuntu GCC 6:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf,armv8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 6 x86:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 6.3 x86_64:
        GCC_VERSIONS: "6.3"
      Ubuntu GCC 6.4 x86_64:
        GCC_VERSIONS: "6.4"
      Ubuntu GCC 7:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf,armv8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 7 x86:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 7.2 x86_64:
        GCC_VERSIONS: "7.2"
      Ubuntu GCC 8:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf,armv8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 8 x86:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 9:
        GCC_VERSIONS: "9"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf,armv8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 9 x86:
        GCC_VERSIONS: "9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu GCC 10:
        GCC_VERSIONS: "10"
        DOCKER_ARCHS: "x86_64,armv7,armv7hf"
        DOCKER_DISTRO: "jnlp-slave"

      Ubuntu Clang 3.8 x86_64:
        CLANG_VERSIONS: "3.8"
      Ubuntu Clang 3.9 x86_64:
        CLANG_VERSIONS: "3.9"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 3.9 x86:
        CLANG_VERSIONS: "3.9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 4.0 x86_64:
        CLANG_VERSIONS: "4.0"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 4.0 x86:
        CLANG_VERSIONS: "4.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 5.0 x86_64:
        CLANG_VERSIONS: "5.0"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 5.0 x86:
        CLANG_VERSIONS: "5.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 6.0 x86_64:
        CLANG_VERSIONS: "6.0"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 6.0 x86:
        CLANG_VERSIONS: "6.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 7 x86_64:
        CLANG_VERSIONS: "7"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 7 x86:
        CLANG_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 8 x86_64:
        CLANG_VERSIONS: "8"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 8 x86:
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 9 x86_64:
        CLANG_VERSIONS: "9"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 9 x86:
        CLANG_VERSIONS: "9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 10 x86_64:
        CLANG_VERSIONS: "10"
        DOCKER_DISTRO: "jnlp-slave"
      Ubuntu Clang 11 x86_64:
        CLANG_VERSIONS: "11"
        DOCKER_DISTRO: "jnlp-slave"

      Android Clang 8:
        DOCKER_CROSS: "android"
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64,x86,armv7,armv8"

      Conan Server:
        BUILD_CONAN_SERVER_IMAGE: 1
