jobs:
- job: Docker
  pool:
    vmImage: 'ubuntu-16.04'
  timeoutInMinutes: 120
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.6'
      architecture: 'x64'
  - script: |
      pip install docker-compose humanfriendly conan conan-package-tools
      python build.py
    env:
      DOCKER_PASSWORD: $(DOCKER_PASSWORD)
  strategy:
    matrix:
      Jenkins Slave GCC 4.6 x86_64:
        GCC_VERSIONS: "4.6"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 4.6 x86:
        GCC_VERSIONS: "4.6"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 4.8 x86_64:
        GCC_VERSIONS: "4.8"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 4.8 x86:
        GCC_VERSIONS: "4.8"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 4.9 x86_64:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 4.9 x86:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 5 x86_64:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 5 x86:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 6 x86_64:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 6 x86:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 7 x86_64:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 7 x86:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 8 x86_64:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave GCC 8 x86:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Slave CentOS 6 GCC 7 x86_64:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "jnlp-slave-centos6"
      Jenkins Slave CentOS 6 GCC 7 x86:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave-centos6"
      Jenkins Clang 3.9 x86_64:
        CLANG_VERSIONS: "3.9"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 3.9 x86:
        CLANG_VERSIONS: "3.9"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 4.0 x86_64:
        CLANG_VERSIONS: "4.0"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 4.0 x86:
        CLANG_VERSIONS: "4.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 5.0 x86_64:
        CLANG_VERSIONS: "5.0"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 5.0 x86:
        CLANG_VERSIONS: "5.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 6.0 x86_64:
        CLANG_VERSIONS: "6.0"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 6.0 x86:
        CLANG_VERSIONS: "6.0"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 7 x86_64:
        CLANG_VERSIONS: "7"
        DOCKER_DISTRO: "jnlp-slave"
      Jenkins Clang 7 x86:
        CLANG_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "jnlp-slave"

      CentOS 6 GCC 7 x86_64:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "centos6"
      CentOS 6 GCC 7 x86:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
        DOCKER_DISTRO: "centos6"
      Ubuntu MinGW GCC 7 x86_64:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64"
        DOCKER_DISTRO: "mingw"

      Ubuntu GCC 4.6 x86_64:
        GCC_VERSIONS: "4.6"
      Ubuntu GCC 4.8 x86_64:
        GCC_VERSIONS: "4.8"
      Ubuntu GCC 4.8 x86:
        GCC_VERSIONS: "4.8"
        DOCKER_ARCHS: "x86"
      Ubuntu GCC 4.9 x86_64:
        GCC_VERSIONS: "4.9"
      Ubuntu GCC 4.9 x86:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86"
      Ubuntu GCC 5 x86_64:
        GCC_VERSIONS: "5"
      Ubuntu GCC 5 x86:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86"
      Ubuntu GCC 5.2 x86_64:
        GCC_VERSIONS: "5.2"
      Ubuntu GCC 5.3 x86_64:
        GCC_VERSIONS: "5.3"
      Ubuntu GCC 6 x86_64:
        GCC_VERSIONS: "6"
      Ubuntu GCC 6 x86:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86"
      Ubuntu GCC 6.3 x86_64:
        GCC_VERSIONS: "6.3"
      Ubuntu GCC 6.4 x86_64:
        GCC_VERSIONS: "6.4"
      Ubuntu GCC 7 x86_64:
        GCC_VERSIONS: "7"
      Ubuntu GCC 7 x86:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86"
      Ubuntu GCC 7.2 x86_64:
        GCC_VERSIONS: "7.2"
      Ubuntu GCC 8 x86_64:
        GCC_VERSIONS: "8"
      Ubuntu GCC 8 x86:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86"

      Ubuntu GCC 4.9 armv7:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86_64,armv7"
      Ubuntu GCC 4.9 armv7hf:
        GCC_VERSIONS: "4.9"
        DOCKER_ARCHS: "x86_64,armv7hf"
      Ubuntu GCC 5 armv7:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86_64,armv7"
      Ubuntu GCC 5 armv7hf:
        GCC_VERSIONS: "5"
        DOCKER_ARCHS: "x86_64,armv7hf"
      Ubuntu GCC 6 armv7:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86_64,armv7"
      Ubuntu GCC 6 armv7hf:
        GCC_VERSIONS: "6"
        DOCKER_ARCHS: "x86_64,armv7hf"
      Ubuntu GCC 7 armv7:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64,armv7"
      Ubuntu GCC 7 armv7hf:
        GCC_VERSIONS: "7"
        DOCKER_ARCHS: "x86_64,armv7hf"
      Ubuntu GCC 8 armv7:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64,armv7"
      Ubuntu GCC 8 armv7hf:
        GCC_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64,armv7hf"

      Ubuntu Clang 3.8 x86_64:
        CLANG_VERSIONS: "3.8"
      Ubuntu Clang 3.9 x86_64:
        CLANG_VERSIONS: "3.9"
      Ubuntu Clang 3.9 x86:
        CLANG_VERSIONS: "3.9"
        DOCKER_ARCHS: "x86"
      Ubuntu Clang 4.0 x86_64:
        CLANG_VERSIONS: "4.0"
      Ubuntu Clang 4.0 x86:
        CLANG_VERSIONS: "4.0"
        DOCKER_ARCHS: "x86"
      Ubuntu Clang 5.0 x86_64:
        CLANG_VERSIONS: "5.0"
      Ubuntu Clang 5.0 x86:
        CLANG_VERSIONS: "5.0"
        DOCKER_ARCHS: "x86"
      Ubuntu Clang 6.0 x86_64:
        CLANG_VERSIONS: "6.0"
      Ubuntu Clang 6.0 x86:
        CLANG_VERSIONS: "6.0"
        DOCKER_ARCHS: "x86"
      Ubuntu Clang 7 x86_64:
        CLANG_VERSIONS: "7"
      Ubuntu Clang 7 x86:
        CLANG_VERSIONS: "7"
        DOCKER_ARCHS: "x86"

      Android Clang 8 x86:
        DOCKER_CROSS: "android"
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "x86"
      Android Clang 8 x86_64:
        DOCKER_CROSS: "android"
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "x86_64"
      Android Clang 8 armv7:
        DOCKER_CROSS: "android"
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "armv7"
      Android Clang 8 armv8:
        DOCKER_CROSS: "android"
        CLANG_VERSIONS: "8"
        DOCKER_ARCHS: "armv8"

      Conan Server:
        BUILD_CONAN_SERVER_IMAGE: 1
