name: 'conan-docker-tools-legacy'

x-common-args: &common-args
    CMAKE_VERSION: ${CMAKE_VERSION}
    PYTHON_VERSION: ${PYTHON_VERSION}
    CONAN_VERSION: ${CONAN_VERSION}
    DOCKER_USERNAME: ${DOCKER_USERNAME}
    DOCKER_BUILD_TAG: ${DOCKER_BUILD_TAG}
    AGENT_VERSION: ${JENKINS_AGENT_VERSION}
    JAVA_JDK_VERSION: ${JAVA_JDK_VERSION}

services:
    gcc5:
        build:
            context: gcc_5
            dockerfile: Dockerfile
            args:
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc5:${DOCKER_BUILD_TAG}"
        container_name: gcc5
        tty: true
    gcc7:
        build:
            context: gcc_7
            dockerfile: Dockerfile
            args:
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc7:${DOCKER_BUILD_TAG}"
        container_name: gcc7
        tty: true
    gcc9:
        build:
            context: gcc_9
            dockerfile: Dockerfile
            args:
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc9:${DOCKER_BUILD_TAG}"
        container_name: gcc9
        tty: true
    gcc5-jenkins:
        depends_on:
            - gcc5
        build:
            context: jenkins
            dockerfile: Dockerfile
            args:
                SOURCE_CONANIO_IMAGE: ${DOCKER_USERNAME}/gcc5:${DOCKER_BUILD_TAG}
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc5-jenkins:${DOCKER_BUILD_TAG}-${JENKINS_AGENT_VERSION}"
        container_name: gcc5-jenkins
    gcc7-jenkins:
        depends_on:
            - gcc7
        build:
            context: jenkins
            dockerfile: Dockerfile
            args:
                SOURCE_CONANIO_IMAGE: ${DOCKER_USERNAME}/gcc7:${DOCKER_BUILD_TAG}
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc7-jenkins:${DOCKER_BUILD_TAG}-${JENKINS_AGENT_VERSION}"
        container_name: gcc7-jenkins
    gcc9-jenkins:
        depends_on:
            - gcc9
        build:
            context: jenkins
            dockerfile: Dockerfile
            args:
                SOURCE_CONANIO_IMAGE: ${DOCKER_USERNAME}/gcc9:${DOCKER_BUILD_TAG}
                <<: *common-args
        image: "${DOCKER_USERNAME}/gcc9-jenkins:${DOCKER_BUILD_TAG}-${JENKINS_AGENT_VERSION}"
        container_name: gcc9-jenkins
